$color-primary: #404893;
$light-gray: #fafafc;
$seatcolors: (
  0: #3eb5f1,
  1: #9870ad,
  2: #ee9a9a,
  3: #4a9f66,
  4: #de507c,
  5: #0f4d5f,
  6: #9f9739,
  7: #450b1d,
  8: #a9248f,
  9: #c54120,
  10: #000
);
